@import '_variable.scss';
@import '_mixin.scss';
@import '_components.scss';

// general setup
html {
    font-family: "DM Sans", sans-serif;
}

a {
    text-decoration: none;
}

// main-nav
.main-nav {
    @include main-nav;
}

.nav-container {
    display: flex;
    padding: 16px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 100px;
    border: 1px solid rgba(248, 248, 248, 0.04);
    background: rgba(31, 31, 31, 0.59);
    backdrop-filter: blur(17.700000762939453px);
}

.nav-brand {
    margin-left: 24px;
}

.nav-cta {
    margin-right: 24px;
}

.nav-link {
    @include nav-link;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

// btn
.primary-btn {
    @include primary-btn;
}

.secondary-btn {
    @include secondary-btn;
}

//  preloader

.preloader {
    background-color: #1F2123;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

@keyframes drop {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(80px);
    }

    100% {
        transform: translateY(0px);
    }
}

.lava-lamp {
    position: relative;
    width: 50px;
    height: 100px;
    background: #060606;
    border-radius: 25px;
    overflow: hidden;
}

.bubble {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    background: linear-gradient(285deg, #000918 -0.25%, #0A6DBA 64.58%, #FFDDB7 107.8%);
    border-radius: 50%;
    left: 15px;
    animation: drop 5s ease-in-out infinite;
}

.bubble1 {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    background: linear-gradient(285deg, #000918 -0.25%, #0A6DBA 64.58%, #FFDDB7 107.8%);
    border-radius: 50%;
    left: 1px;
    animation: drop 3s ease-in-out infinite;
}

.bubble2 {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    background: linear-gradient(to bottom, #7950f2, #f783ac);
    border-radius: 50%;
    left: 30px;
    animation: drop 4s ease-in-out infinite;
}

.bubble3 {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    background: linear-gradient(180deg, #FFDCF9 0%, #9A00B2 100%);
    border-radius: 50%;
    left: 20px;
    animation: drop 6s ease-in-out infinite;
}

.preloader-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
    position: absolute;
}

.preloader-text-first {
    @include textMd;
    font-size: 24px;
    line-height: 32px;
    @include text-light;
}

.preloader-text-second {
    @include textMd;
    font-size: 24px;
    line-height: 32px;
    @include text-light;
}

// footer-section 
.footer-section {
    height: auto;
    padding-top: 120px;
    padding-bottom: 24px;
    background-color: #060606;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 64px;
}

.footer-content-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.17);
    background: rgba(44, 44, 44, 0.20);
    backdrop-filter: blur(25px);
    gap: 32px;
    width: 100%;
}

.footer-content-title {
    @include textMd;
    @include text-light;
    font-size: 64px;
    line-height: 72px;
    text-align: center;
}

.footer-content-description {
    @include textLight;
    @include text-grey;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.footer-contact-wrap {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.footer-contact-title {
    @include textLight;
    @include text-grey;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.footer-contact-subtitle {
    @include textMd;
    @include text-light;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}

.footer-cpr-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.copyright-mark {
    @include text-grey;
    @include textNormal;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
}

.footer-icon-wrap {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 24px;
}

.footer-icon {
    font-size: 24px;
    @include text-grey;
}

.copyright-section {
    height: auto;
    padding: 64px 0px;
    background-color: #060606;
}

.big-black-circle {
    position: absolute;
    bottom: -5%;
    right: -5%;
    width: 320px;
    height: 320px;
    border-radius: 320px;
    background: radial-gradient(64.31% 64.31% at 64.47% 34.21%, rgba(255, 255, 255, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%);
    box-shadow: 10px 30px 30px 0px rgba(0, 0, 0, 0.10);
}